/* * {
    margin: 0;
    padding: 0;
} */

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}

html,
body {
    min-height: 2762px;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

/* Link */
.link:hover {
    color: #81b3d2;
}

.link:active {
    color: #cacaca;
}

.container {
    position: relative;
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 50px 10px #dbdbdb;
}

/* Header */
.main-header {
    background-image: url(../img/background\ photo.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.main-navigation {
    width: 100%;
    position: relative;
    background-color: #ffffff;
    margin-bottom: 76px;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.navigation-item {
    display: inline-block;
    width: 20%;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 16px;
}

.navigation-item:nth-child(2) {
    margin-right: 20%;
}

.logo-link {
    position: absolute;
    content: "";
    top: 0;
    right: 44%;
}

/* Showcase */
.showcase-welcome {
    background-image: url(../img/Mask.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}

.showcase-img {
    display: block;
    margin: 0 auto;
}

.showcase-img:first-child {
    margin-bottom: 10px;
}

.showcase-img:nth-child(2) {
    margin-bottom: 52px;
    position: relative;
}

.showcase-img:nth-child(3) {
    margin-bottom: 57px;
}

.showcase-img:nth-child(4) {
    padding-bottom: 90px;
}

.showcase-description {
    background-color: #ffffff;
}

.showcase-description h2 {
    margin: 0;
    font-size: 21px;
    line-height: 26px;
    padding-top: 60px;
    margin-bottom: 33px;
    position: relative;
}

.showcase-description p {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 55px;
}

