* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}

html,
body {
    min-height: 2762px;
    min-width: 1200px;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    margin: 0;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
}


/* Link */
.link:hover {
    color: #81b3d2;
}

.link:active {
    color: #cacaca;
}

.current,
.current:hover,
.current:active {
    color: #766357;
}

.container {
    position: relative;
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 50px 10px #dbdbdb;
}

/* Header */
.main-header {
    background-image: url(../img/background\ photo.jpg) ;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-navigation {
    width: 100%;
    position: relative;
    background-color: #ffffff;
    margin-bottom: 76px;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.navigation-item {
    display: inline-block;
    width: 20%;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 16px;
}

.navigation-item:nth-child(2) {
    margin-right: 20%;
}

.logo-link {
    position: absolute;
    content: "";
    top: 0;
    right: 44%;
}

/* Showcase */
.showcase-welcome {
    background-image: url(../img/Mask.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
}

.showcase-img {
    display: block;
    margin: 0 auto;
}

.showcase-img:first-child {
    margin-bottom: 10px;
}

.showcase-img:nth-child(2) {
    margin-bottom: 52px;
}

.showcase-img:nth-child(3) {
    margin-bottom: 57px;
}

.showcase-img:nth-child(4) {
    padding-bottom: 90px;
}

.showcase-description {
    background-color: #ffffff;
}

.showcase-description h2 {
    margin: 0;
    font-size: 21px;
    line-height: 26px;
    padding-top: 60px;
    margin-bottom: 33px;
    position: relative;
}

.showcase-description p {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 55px;
}

/* Main Page */
.flex-reason {
    display: flex;
}

.flex-reason-description {
    color: #ffffff;
    background-color: #81b3d2;
}

.flex-reason-description h2 {
    font-size: 21px;
    padding-top: 45px;
    margin-bottom: 20px;
}

.flex-reason-description .number {
    display: block;
    margin-bottom: 22px;
    font-weight: 400;
    position: relative;
}

.flex-reason-description .number::before {
    content: "";
    position: absolute;
    top: 13px;
    right: 44%;
    width: 8px;
    height: 1px;
    background-color: #fff;
}

.flex-reason-description .number::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 44%;
    width: 8px;
    height: 1px;
    background-color: #fff;
}

.flex-reason-description p {
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
    padding: 0 60px;
}

.flex-reason-description .padding {
    padding: 0 50px;
}

.flex-items {
    display: flex;
    position: relative;
}

.flex-items-container {
    background-color: #ffffff;
}

.flex-items-container:first-child::after {
    content: url(../img/icon-1.png);
    position: absolute;
    top: 60px;
    left: 165px;
}

.flex-items-container:nth-child(2)::after {
    content: url(../img/icon-3.png);
    position: absolute;
    top: 62px;
    left: 580px;
}

.flex-items-container:last-child::after {
    content: url(../img/icon-2.png);
    position: absolute;
    top: 56px;
    left: 980px;
}

.flex-items-container h2 {
    padding-top: 160px;
    margin-bottom: 30px;
    font-weight: 700;
}

.flex-items-container p {
    font-weight: 400;
    color: #333;
    margin-bottom: 83px;
    padding: 0 50px;
}

.flex-items-discription {
    background-color: #eeeeee;
}

.flex-items-discription h2 {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
}

.flex-items-discription .number {
    color: #333;
}

.flex-items-discription .number::after {
    background-color: #333;
}

.flex-items-discription .number::before {
    background-color: #333;
}

.flex-items-discription p {
    color: #333;
    margin-bottom: 60px;
}

/* Appointment */
.appointment {
    background-color: #fff;
}

.appointment .appointment-heading {
    color: #000;
    font-size: 30px;
    line-height: 36px;
    margin-top: 55px;
    margin-bottom: 30px;
}

.appointment p {
    color: #333;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 50px;
}

.appointment .btn {
    text-transform: uppercase;
    color: #fff;
    width: 568px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    font-family: inherit;
    background-color: #766357;
    padding: 33px 139px;
    border: none;
    cursor: pointer;
}

.appointment .btn:hover {
    background-color: #604e43;
}

.appointment .btn:active {
    background-color: #503e33;
    color: #7a6f69;
}

.map {
    position: relative;
}

/* footer */
.home-footer {
    padding: 36px 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
}

.main-footer {
    width: 100%;
    display: flex;
    align-items: center;
}

.main-footer .visit {
    width: 400px;
    margin: 0;
    margin-right: 125px;
    font-size: 21px;
    line-height: 26px;
}

.main-footer .social {
    width: 150px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:focus,
.social-button:active {
    background-color: #5496bd;
}

.social-button:focus path,
.social-button:active path {
    fill: #88b6d1;
}

.footer-rights {
    position: relative;
    
}

.footer-rights .academy {
    width: 400px;
    margin: 0;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    margin-right: 125px;
}



.academy .html-link::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 165px;
    width: 115px;
    height: 41px;
    background-image: url(../img/html.png);
}

.academy .html-link:hover:after {
    background-image: url(../img/html-hover.png);
} 

.academy .html-link:active:after {
    background-image: url(../img/html-active.png);
} 


/* Modal */
.modal {
   width: 568px;
   position: absolute;
   top: 0;
   left: 316px;
   background-color: #fff;
   padding: 55px;
   text-align: left;
}

.booking-form label {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.booking-form input {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    background-color: #f2f2f2;
    border: none;
}

.booking-form input:hover {
    background-color: #ebebeb;
}

.booking-form input:focus {
    background-color: #fff;
    outline: 2px solid #e5e5e5;
}

.arrival-date-user {
    margin-left: 22px;
}

.departure-date-user {
    margin-left: 19px;
}

.arrival-date-user,
.departure-date-user {
    position: relative;
    margin-bottom: 30px;
    padding: 6px 45px 6px 15px;
    width: 340px;
}

.arrival-date-user::after,
.departure-date-user::after {
    content: "";
    position: absolute;

}

.quantity-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 60px;
}

.quantity input {
    width: 114px;
    padding: 6px 39px;
}

/* Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
  }

.quantity:first-child {
    width: 227px;
    margin-right: 53px;

}

.quantity:last-child {
    width: 179px;
}

.adult-number {
    margin-left: 37px;
}

.children-number {
    margin-left: 23px;
}

/* Add button - and + */

.btn-submit {
    text-transform: uppercase;
    color: #fff;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    font-family: inherit;
    border: none;
    cursor: pointer;
    background-color: #81b3d2;
    padding: 16px 196px;
}

.btn-submit:hover {
    background-color: #669ec0;
}

.btn-submit:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.7);
}


