* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}

html,
body {
    min-width: 1200px;
    background-color: #f2f2f2;
}

.home-page {
    min-height: 2762px;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    margin: 0;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
}


/* Link */
.link:hover {
    color: #81b3d2;
}

.link:active {
    color: #cacaca;
}

.current,
.current:hover,
.current:active {
    color: #766357;
}

.container {
    position: relative;
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 50px 10px #dbdbdb;
}

/* Header */
.main-header {
    background-image: url(../img/background\ photo.jpg) ;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-navigation {
    width: 100%;
    position: relative;
    background-color: #ffffff;
}

.main-navigation-margin {
    margin-bottom: 76px;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.navigation-item {
    display: inline-block;
    width: 20%;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 16px;
}

.navigation-item:nth-child(2) {
    margin-right: 20%;
}

.logo-link {
    position: absolute;
    content: "";
    top: 0;
    right: 44%;
}

/* Showcase */
.showcase-welcome {
    background-image: url(../img/Mask.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
}

.showcase-img {
    display: block;
    margin: 0 auto;
}

.showcase-img:first-child {
    margin-bottom: 10px;
}

.showcase-img:nth-child(2) {
    margin-bottom: 52px;
}

.showcase-img:nth-child(3) {
    margin-bottom: 57px;
}

.showcase-img:nth-child(4) {
    padding-bottom: 90px;
}

.showcase-description {
    background-color: #ffffff;
}

.showcase-description h2 {
    margin: 0;
    font-size: 21px;
    line-height: 26px;
    padding-top: 60px;
    margin-bottom: 33px;
    position: relative;
}

.showcase-description p {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 55px;
}

/* Main Page */
.flex-reason {
    display: flex;
}

.flex-reason-description {
    color: #ffffff;
    background-color: #81b3d2;
}

.flex-reason-description h2 {
    font-size: 21px;
    padding-top: 45px;
    margin-bottom: 20px;
}

.flex-reason-description .number {
    display: block;
    margin-bottom: 22px;
    font-weight: 400;
    position: relative;
}

.flex-reason-description .number::before {
    content: "";
    position: absolute;
    top: 13px;
    right: 44%;
    width: 8px;
    height: 1px;
    background-color: #fff;
}

.flex-reason-description .number::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 44%;
    width: 8px;
    height: 1px;
    background-color: #fff;
}

.flex-reason-description p {
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
    padding: 0 60px;
}

.flex-reason-description .padding {
    padding: 0 50px;
}

.flex-items {
    display: flex;
    position: relative;
}

.flex-items-container {
    background-color: #ffffff;
}

.flex-items-container:first-child::after {
    content: url(../img/icon-1.png);
    position: absolute;
    top: 60px;
    left: 165px;
}

.flex-items-container:nth-child(2)::after {
    content: url(../img/icon-3.png);
    position: absolute;
    top: 62px;
    left: 580px;
}

.flex-items-container:last-child::after {
    content: url(../img/icon-2.png);
    position: absolute;
    top: 56px;
    left: 980px;
}

.flex-items-container h2 {
    padding-top: 160px;
    margin-bottom: 30px;
    font-weight: 700;
}

.flex-items-container p {
    font-weight: 400;
    color: #333;
    margin-bottom: 83px;
    padding: 0 50px;
}

.flex-items-discription {
    background-color: #eeeeee;
}

.flex-items-discription h2 {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
}

.flex-items-discription .number {
    color: #333;
}

.flex-items-discription .number::after {
    background-color: #333;
}

.flex-items-discription .number::before {
    background-color: #333;
}

.flex-items-discription p {
    color: #333;
    margin-bottom: 60px;
}

/* Appointment */
.appointment {
    background-color: #fff;
}

.appointment .appointment-heading {
    color: #000;
    font-size: 30px;
    line-height: 36px;
    margin-top: 55px;
    margin-bottom: 30px;
}

.appointment p {
    color: #333;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 50px;
}

.appointment .btn {
    text-transform: uppercase;
    color: #fff;
    width: 568px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    font-family: inherit;
    background-color: #766357;
    padding: 33px 139px;
    border: none;
    cursor: pointer;
}

.appointment .btn:hover {
    background-color: #604e43;
}

.appointment .btn:active {
    background-color: #503e33;
    color: #7a6f69;
}

.map {
    position: relative;
}

/* footer */
.home-footer {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
}

.main-footer {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 36px 0;
}

.main-footer .visit {
    width: 400px;
    margin: 0;
    margin-right: 125px;
    font-size: 21px;
    line-height: 26px;
}

.main-footer .social {
    width: 150px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:focus,
.social-button:active {
    background-color: #5496bd;
}

.social-button:focus path,
.social-button:active path {
    fill: #88b6d1;
}

.footer-rights {
    position: relative;
    
}

.footer-rights .academy {
    width: 400px;
    margin: 0;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    margin-right: 125px;
}



.academy .html-link::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 165px;
    width: 115px;
    height: 41px;
    background-image: url(../img/html.png);
}

.academy .html-link:hover:after {
    background-image: url(../img/html-hover.png);
} 

.academy .html-link:active:after {
    background-image: url(../img/html-active.png);
} 


/* Modal */
.modal {
   width: 568px;
   position: absolute;
   top: 0;
   left: 316px;
   background-color: #fff;
   padding: 55px;
   text-align: left;
}

.modal p {
    position: relative;
}

.booking-form label {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.booking-form input {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    background-color: #f2f2f2;
    border: none;
}

.booking-form input[type=text]:hover {
    background-color: #ebebeb;
}

.booking-form input[type=text]:focus {
    background-color: #fff;
    outline: 2px solid #e5e5e5;
}

.arrival-date-user {
    margin-left: 22px;
}

.departure-date-user {
    margin-left: 19px;
}

.booking-form input[type=text] {
    position: relative;
    margin-bottom: 30px;
    padding: 6px 45px 6px 15px;
    width: 340px;
}

/* Add calendar button */
.btn-calendar {
    content: "";
    position: absolute;
    top: 8px;
    right: 12px;
    width: 21px;
    height: 22px;
    padding: 0;
    font-size: 0;
    border: none;
    background: url(../img/calendar.png) no-repeat;
    cursor: pointer;
}

.btn-calendar:hover {
    background: url(../img/calendar-1.png) no-repeat;
}

.btn-calendar:active,
.btn-calendar:focus {
    background: url(../img/calendar-2.png) no-repeat;
    outline: none;
}

.quantity-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 60px;
}
.quantity {
    position: relative;
}

.quantity:first-child label {
    margin-right: 39px;
}

.quantity:last-child label {
    margin-right: 27px;
}

.quantity input[type=number] {
    width: 36px;
    padding: 6px 0;
    margin: 0 -4px 0 -4px;
    outline: none;
    display: inline-block;
}

/* Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
  }

.quantity button {
    position: relative;
    margin: 0;
    border: none;
    width: 39px;
    height: 38px;
    cursor: pointer;
    vertical-align: top;
    outline: none;
    font-size: 0;
    background-color: #f2f2f2;
}

.btn-minus::before,
.btn-plus::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 13px;
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
}

.btn-plus::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 19px;
    width: 3px;
    height: 11px;
    background-color: #a9a9a9;
}

.btn-minus:hover::before,
.btn-plus:hover::before,
.btn-plus:hover::after,
.btn-minus:focus::before,
.btn-plus:focus::before,
.btn-plus:focus::after {
    background-color: #000;
}

.btn-minus:active::before,
.btn-plus:active::before,
.btn-plus:active::after {
    background-color: #81b3d2;
}

.btn-submit {
    text-transform: uppercase;
    color: #fff;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    font-family: inherit;
    border: none;
    cursor: pointer;
    background-color: #81b3d2;
    padding: 16px 196px;
}

.btn-submit:hover {
    background-color: #669ec0;
}

.btn-submit:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.7);
    outline: none;
}


/* Inner page */
.inner-page {
    min-height: 933px;
}

.inner-header {
    background-image: url(../img/filter\ background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.hotel-form {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    border: none;
}

.form-checkbox {
    display: flex;
    width: 50%;
    margin-top: 30px;
    margin-left: 72px;
}

.form-checkbox fieldset {
    border: none;
}

.form-checkbox fieldset:first-child  {
    margin-right: 115px;
}

.form-checkbox legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-align: left;
}

.form-list {
    list-style: none;
    text-align: left;
}

.form-list li {
    margin-top: 22px;
}

.form-list label {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin-left: 40px;
    position: relative;
    cursor: pointer;
}

.filter-checkbox:hover + label {
    color: #fff;
}

.filter-checkbox + label::before {
    content: "";
    position: absolute;
    left: -39px;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-checkbox:checked + label::before {
    content: "";
    position: absolute;
    left: -39px;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-on.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-checkbox:disabled + label {
    color: #6a6a6a;
}

.filter-checkbox:disabled + label::before {
    content: "";
    position: absolute;
    left: -39px;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off-dis.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-checkbox:disabled:checked + label {
    color: #6a6a6a;
}

.filter-checkbox:disabled:checked + label::before {
    content: "";
    position: absolute;
    left: -39px;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-on-dis.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}


.filter-range {
    width: 330px;
    color: #fff;
    font-weight: 400;
    margin-top: 30px;
    margin-right: 78px;
}

.filter-range-title {
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 0;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #fff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    vertical-align: bottom;
    cursor: pointer;
    
}

.price-controls .min-price,
.price-controls .max-price {
    width: 50%;
    padding-left: 30px;
}

.price-controls .min-price {
    
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #fff;
}

.range-toggle {
    position: absolute;
    top: -7px;
    width: 20px;
    height: 20px;
    background: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-family: inherit;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000;
    background: #fff;
}

/* Search */
.search {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.search-flex-container {
    width: 50%;
    display: flex;
}

.search-flex-container .search-heading {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    margin-left: 72px;
    margin-right: 50px;
}

.sorting-container {
    display: flex;
    align-items: center;
    line-height: 18px;
}

.sort-list {
    list-style: none;
    font-size: 12px;
    line-height: 18px;
}

.sorting-container .search-sorting,
.sort-list-item a {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.sorting-container .search-sorting {
    margin-right: 40px;
}

.sort-list-item {
    display: inline-block;
}

.sort-list-item a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.sort-list-item:first-child {
    margin-right: 31px;
}

.sort-list-item:nth-child(2) {
    margin-right: 33px;
}

.sort-list-item .current {
    color: #81b3d2;
    border: none;
}

.sort-list-item a:hover {
    color: #81b3d2;
}

.sort-list-item a:active {
    color: #000;
    border: none;
}

.link-up-down {
    position: relative;
    width: 34px;
    height: 11px;
    margin-right: 78px;
    box-sizing: content-box;
}

.link-up {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 11px;
    height: 10px;
    background: url(../img/icon-up-dir.png);
    font-size: 0;
}

.link-up:hover {
    background: url(../img/icon-up-hover.png);
}

.link-up:active {
    background: url(../img/icon-up-active.png);
}

.link-down {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 11px;
    height: 10px;
    background: url(../img/icon-down-dir.png);
    font-size: 0;
}

.link-down:hover {
    background: url(../img/icon-down-hover.png);
}

.link-down:active,
.link-down-active {
    background: url(../img/icon-down-active.png);
}

/* Hotels */
.hotel-review {
    display: flex;
    justify-content: space-between;
    padding: 29px 0;
    padding-right: 73px;
    padding-left: 73px;
}

.hotel-review:not(:nth-child(2)) {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-flex-data {
    display: flex;
    text-align: left;
}

.hotel-img {
    margin-right: 30px;
}

.hotel-data {
    order: 1;
}

.hotel-data-name {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: -3px;
}

.hotel-data-name a:hover {
    color: #81b3d2;
}

.hotel-data-name a:active {
    color: rgba(0, 0, 0, 0.7);
}

.hotel-data .hotel-data-type,
.hotel-data .hotel-data-price {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333;
    margin-bottom: 11px;
}

.hotel-data .hotel-data-type {
    margin-right: 38px;
}


.btn-link-detail {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    font-family: inherit;
    color: #fff;
    background-color: #81b3d2;
    padding: 3px 17px;
    margin-right: 6px;
}

.btn-link-detail:hover {
    background-color: #669ec0;
}

.btn-link-detail:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.7);
}

.btn-reserve {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    font-family: inherit;
    text-transform: uppercase;
    color: #fff;
    background-color: #766357;
    padding: 3px 17px;
    margin-right: 6px;
    border: none;
    cursor: pointer;
}

.btn-reserve:hover {
    background-color: #604e43;
}

.btn-reserve:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.7);
    outline: none;
}

.hotel-flex-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating-stars {
    position: relative;
    width: 110px;
    height: 17px;
    box-sizing: content-box;
}

.rating-stars::before {
    content: "";
    position: absolute;
    top: 0;
    right: 18px;
    width: 18px;
    height: 17px;
    background: url(../img/icon-star.png);
}

.rating-stars::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 17px;
    background: url(../img/icon-star.png);
}

.one-extra-star::before {
    content: "";
    position: absolute;
    top: 0;
    right: 36px;
    width: 18px;
    height: 17px;
    background: url(../img/icon-star.png);
}

.two-extra-star::before {
    content: "";
    position: absolute;
    top: 0;
    right: 54px;
    width: 18px;
    height: 17px;
    background: url(../img/icon-star.png);
}

.rating-text p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #666666;
    background-color: #f2f2f2;
    padding: 3px 14px;
}